<div class="main-container">
    <div class="login-container">
      <img src="https://res.cloudinary.com/dghnaymwn/image/upload/v1708001737/karthi/Frame_274_je9cyu.jpg" alt="website logo" class="tasty-logo">
      <h2 class="tasty-heading">Tasty Kitchens</h2>
      <img src="https://res.cloudinary.com/dghnaymwn/image/upload/v1708693508/karthi/Rectangle_1457_bm7e6s.jpg" alt="website login" class="small-device-image">
  
      <form class="form-container">
        <h1 class="form-heading">Login</h1>
  
        <label for="username" class="form-label">USERNAME</label>
        <input type="text" id="username" class="form-input">
  
        <label for="userpassword" class="form-label">PASSWORD</label>
        <input type="password" id="userpassword" class="form-input">
  
        <button type="button" class="form-button">Login</button>
      </form>
    </div>
    <div class="image-container"></div>
  </div>
  